.grid {
    display: grid;
    gap: 5px;
    height: 250vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);

    /*this is moving the whole grid!!*/
    /*justify-content: center;*/
    /*align-content: end;*/

    /*short cut for align-content / justify-content*/
    place-content: end center
}

.header {
    background-color: #555555;
}

.content {
    background-color: bisque;
}

.nav {
    background-color: #88ee44;
}

.footer {
    background-color: cadetblue;
}
