.grid {
    display: grid;
    gap: 5px;
    height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);


    /*stretch is default value - this works when children does not have width and height*/
    /*align-items: stretch;*/
    /*justify-items: stretch;*/

    /*this is shortcut to align-items &  justify-items*/
    place-items: center end;
}

.header {
    background-color: #555555;
}

.content {
    background-color: bisque;
}

.nav {
    background-color: #88ee44;
}

.footer {
    background-color: cadetblue;
}
